@page
@model Create
@{
    ViewData["Title"] = "Create New Car";
}

<div class="text-center">
    <h1 class="display-4">Create New Car</h1>
</div>

<form method="post">
    <div class="form-group">
        <label asp-for="Car.Brand" class="control-label"></label>
        <input asp-for="Car.Brand" class="form-control"/>
        <span asp-validation-for="Car.Brand" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Car.Model" class="control-label"></label>
        <input asp-for="Car.Model" class="form-control"/>
        <span asp-validation-for="Car.Model" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Car.Year" class="control-label"></label>
        <input asp-for="Car.Year" class="form-control"/>
        <span asp-validation-for="Car.Year" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Car.Price" class="control-label"></label>
        <input asp-for="Car.Price" class="form-control"/>
        <span asp-validation-for="Car.Price" class="text-danger"></span>
    </div>
    <div class="form-group mt-4">
        <button type="submit" class="btn btn-success">Save</button>
        <a asp-page="/Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>